In [35]:
import pandas as pd
import numpy as np

In [36]:
train_app = pd.read_csv('../train/train_app.csv', encoding='utf-8')
test_app = pd.read_csv('../test/test_app.csv', encoding='utf-8')

In [48]:
app_df = pd.concat([train_app, test_app], axis = 0)

In [49]:
app_df

,phone_no_m,busi_name,flow,month_id
0,416cec0f25b93f08bfd9cff44382c5da3a6346beb16a2c...,NaN,0.000000,NaN
1,26fcb7c6f4125ee5445756d4ff5346c29f2aff7d0f2e31...,NaN,0.000000,NaN
2,1a58c82eeefdb00ea6abf2e6010a8e808b27e1802b764d...,NaN,0.021529,2019-12
3,1a58c82eeefdb00ea6abf2e6010a8e808b27e1802b764d...,微信,0.001846,2019-12
4,1a58c82eeefdb00ea6abf2e6010a8e808b27e1802b764d...,高德导航,0.002288,2019-12
...,...,...,...,...
129448,dde53a8d1df38164fc37e274ad7bafd9a85b515a68b7f8...,oppo应用商店,0.086297,2020-04
129449,e79ca3f725672a548ddb365746621e7f6fbd0b56798315...,NaN,0.000000,NaN
129450,4dbbb1234ae86d3bb3e6ec490a3af338b3c1f977ae280e...,NaN,0.000000,NaN
129451,82d9bf91308a6abdcee6cc251acaec7e139c65892fd37f...,NaN,0.000000,NaN
129452,1a34d8ff23532eafc1180ee2cbfb9a76b961b92fed5551...,NaN,0.000335,2020-04

In [50]:
app_df['month_id'] = app_df['month_id'].fillna(method='bfill')

In [51]:
groups = app_df.groupby(by = ['phone_no_m'])

In [52]:
flow = groups['flow'].agg(np.sum).values
app_unique = groups['busi_name'].agg('nunique').values
flow_null = (flow==0).astype(np.int64)
flow_min = groups['flow'].agg(np.min).values
flow_mean = groups['flow'].agg(np.mean).values
flow_max = groups['flow'].agg(np.max).values
months = groups['month_id'].agg(lambda x : len(x.value_counts())).values
flow_per_month = flow/ months
flow_per_app = flow/(app_unique + 1)

In [53]:
app_list = app_df['busi_name'].value_counts()[app_df['busi_name'].value_counts().values >100].index.tolist()

In [54]:
len(app_list)

In [55]:
temp_df = pd.DataFrame()
for app in app_list:
    temp_df[app] = groups['busi_name'].agg(lambda x : (app in x.tolist())).values.astype(np.int64)

In [56]:
new_df = pd.DataFrame()
new_df['phone_no_m'] = groups.groups.keys()
new_df['flow'] = flow
new_df['flow_null'] = flow_null
new_df['flow_min'] = flow_min
new_df['flow_mean'] = flow_mean
new_df['flow_max'] = flow_max
new_df['flow_per_month'] = flow_per_month
new_df['flow_per_app'] = flow_per_app
new_df['app_unique'] = app_unique

In [57]:
# new_df = pd.concat([new_df, temp_df],axis = 1)

In [58]:
new_df.to_csv('./app_submit.csv', encoding='utf-8', index = None)

In [59]:
new_df

,phone_no_m,flow,flow_null,flow_min,flow_mean,flow_max,flow_per_month,flow_per_app,app_unique
0,00073ceecc0f7220a440580ac5dea410c90d14b6669458...,7794.011783,0,0.000072,31.427467,3163.689316,1113.430255,81.187623,95
1,00086f1d2e2c1227f811c3e17f2e9c37cf9971f47bb933...,108.340788,0,0.000220,4.166953,102.223318,108.340788,4.333632,24
2,000c00db8809c27e723ba90582bf334b2d3ca9063f53fb...,0.000000,1,0.000000,0.000000,0.000000,0.000000,0.000000,0
3,000f0f3100d815774e51f504a43e636dee84449da1c2c4...,3105.527115,0,0.001053,13.271483,1122.193042,3105.527115,15.605664,198
4,001285c54745996ac4705eca7713d73de7921edf4133a6...,0.000000,1,0.000000,0.000000,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...
8146,ffdbcf9285b71d560a7c79445700db2c363b066003a73d...,120409.849128,0,0.000074,56.056727,5071.870829,15051.231141,342.073435,351
8147,ffdf60d18dbbc25bb8c1697f7c97e8547517b2523d7001...,3858.143943,0,0.000074,7.376948,473.855058,482.267993,27.756431,138
8148,ffe895705e90baa2490cfb0cc39031cf10cdd92facad6d...,10531.933698,0,0.000106,57.551550,4557.147507,10531.933698,61.952551,169
8149,ffe9b31003bfabebaad23e4e9eb593cf8566a906c3e4c0...,62318.487965,0,0.000074,43.917187,6711.865280,7789.810996,202.332753,307
8150,fff3a35165a7cd5538828fe636f20eb3377538816f8be4...,1208.861582,0,0.000595,10.793407,734.600090,1208.861582,11.968927,100